<div class="message">
  <div class="upper-message">
    <div class="message-user">
      <!-- messagesテーブルのuser_idに紐付いている -->
      <%= message.user.name %>

    </div>
    <div class="message-date">
      <!-- DBの時刻カラムから -->
      <%= l message.created_at %>

    </div>
  </div>
  <div class="lower-message">
    <div class="message-content">
      <%# dbのテーブルから %>
          <%= message.content %>

    </div>
    <%= image_tag message.image.variant(resize: '200x200'), class: 'message-image' if message.image.attached? %>
  </div>
</div>