<%# サイドバーとチャット画面で2分する場合は
上から機能についての積み木を置いていく %>
<div class="side-bar-header">
  <div class="header-name">
  <%# 個別に値にプロパティを付けたい場合はそのリンクの上にdivをつくる %>
  <%= link_to current_user.name, edit_user_path(current_user) %>
     <%#=ログインしているユーザー名はcurrent_userに .nameをつける
     パスはedit_user_pathに(current_user)を引数でつける %>
  </div>
  <div class="create-room">
    <%= link_to 'チャットを作成する', new_room_path %>
  </div>
</div>

<div class="rooms">
 <% current_user.rooms.each do |room|%>
   <div class="room">
    <div class="room-name">
     <a href="#"><%= room.name %></a>
    </div>
   </div>
  <% end %>
</div>  
  








  <%# <div class="room">
  roomsの中にroom,room-nameの階層があり
 その下にリンクを置く 
    <div class="room-name"
      <link_to>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <a href="#">techroom2</a>
    </div>
  </div>
</div> %>



